<h2><%= l(:label_mailwrapper_recipient_new) %></h2>

<% labelled_tabular_form_for :mailwrapper_recipient, @mailwrapper_recipient, :url => {:action => 'add', :project_id => @project} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= submit_tag l(:button_create) %>
<% end %>

