<h2><%= l(:label_mailwrapper_recipient_edit) %></h2>

<% labelled_tabular_form_for :mailwrapper_recipient, @mailwrapper_recipient, :url => {:action => 'mod', :recipient_id => @mailwrapper_recipient.id, :project_id => @project} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.hidden_field :id, :value => @mailwrapper_recipient.id %>
  <%= submit_tag l(:button_update) %>
<% end %>

