<%= error_messages_for 'mailwrapper_news_rule' %>
<div class="box">
  <p><%= f.select :mailwrapper_recipient_id, (@project.mailwrapper_recipients.collect {|c| [c.name, c.id]}), :include_blank => false %>
</div>
