  <div class="box">
    <p><%= f.text_field :name, :required => true %></p>
    <p><%= f.text_field :recipient, :required => true, :size => 80 %></p>
    <%= f.hidden_field :project_id, :value => @project.id %>
  </div>

